<h1>من نحن</h1>
<p>الضاد عبارة عن فريق مكون من ثلاثة شبان سقطو منذ سنوات في غرام الإعلام اﻵلي و الهاكينك و اﻵن همهم الوحيد هو تطوير و نشر الإعلام اﻵلي باللغة العربية. هدفنا هو  ليس تجاري بالدرجة اﻷولى و لكن نهدف لتبادل الخبرات في مجالات البرمجة و التقنيات المفتوحة و تطويرها باللغة العربية لغة الضاد.

<h2>الفريق الضادي</h2>
<ul>
<li>خالد الضادي (dkode)</li>
<li>طيب مرابطي ( <a href="tayeb83.github.com/dtmdeblog">مدونة الطيب الضادي</a>
)</li>
<li>أمين الضادي</li>
</ul>
</p>
