<footer class="footer">
  <small>
   فريق ضاد </a>www.daade.org<a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "من نحن",   '/about' %></li>
      <li><%= link_to "اتصل بنا", '/contact' %></li>
      </ul>
  </nav>
</footer>
